<div class="app-shell">
  <mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav class="app-sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="/about">About</a>
        <a mat-list-item routerLink="/contact">Get In Touch</a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon>
          Close
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <span class="me" routerLink="/home">Ron Shah</span>
          <span class="spacer"></span>
          <div class="toolbar-links">
            <a mat-button routerLink="/home">Home</a>
            <a mat-button routerLink="/about">About</a>
            <a mat-button routerLink="/contact">Contact</a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <main class="page-host">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
